body {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.header {
  height: 100px;
  border-bottom: 1px solid red;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.header #logo {
  width: 150px;
  padding: 25px;
  margin-left: 50px;
}

.header .links {
  float: right;
  border-bottom: 1px solid red;
  margin-top: 80px;
  margin-right: 25px;
}

.header .links a {
  text-decoration: none;
  padding: 0 25px;
  color: black;
}

.top {
  width: 100%;
  border: 1px solid gold;
  height: 500px;
}

.top h1 {
  width: 525px;
  border: 1px solid silver;
  margin-left: 75px;
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.top p {
  width: 525px;
  border: 1px solid teal;
  margin: 30px 75px;
}

.top img {
  float: right;
  border: 1px solid magenta;
  margin-top: -250px;
  margin-right: 75px;
}

.top .buttonBox {
  display: inline-block;
  border: 1px solid orange;
  margin-left: 75px;
}

.top input {
  width: 300px;
  height: 25px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top .button {
  width: 175px;
  margin-left: 5px;
  height: 25px;
  background-color: #3065f8;
  color: white;
  padding-top: 13px;
  padding-bottom: 20px;
  border-radius: 4px;
  line-height: .8;
  font-family: 'Raleway', sans-serif;
  border: none;
  -webkit-box-shadow: 0 0 15px rgba(192, 192, 192, 0.9);
          box-shadow: 0 0 15px rgba(192, 192, 192, 0.9);
}

.curve {
  padding-top: 150px;
}

.middle {
  width: 100%;
  border: 1px solid green;
  height: 675px;
  background-color: #f6f6fe;
  margin-top: -6px;
}

.middle .heading {
  width: 650px;
  border: 1px solid aqua;
  margin-left: 75px;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.middle .callTo {
  border: 1px solid red;
  margin-left: 75px;
  width: 555px;
}

.middle a {
  color: #3c9f8f;
  margin-right: 7px;
  text-decoration: none;
}

.middle .linkBox {
  margin-left: 75px;
  border-bottom: 0.5px solid #3c9f8f;
  width: 171.5px;
  color: #3c9f8f;
  line-height: 1.9;
}

.middle #testBox {
  -webkit-box-shadow: 0 0 15px rgba(192, 192, 192, 0.3);
          box-shadow: 0 0 15px rgba(192, 192, 192, 0.3);
  border-radius: 10px;
  margin-left: 75px;
  width: 400px;
  margin-top: 50px;
  background-color: white;
  padding-bottom: 20px;
}

.middle #quoteMarks {
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.middle .imgK {
  height: 40px;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 15px;
}

.middle .quote {
  font-weight: normal;
  width: 350px;
  margin: 0 auto;
  line-height: .7cm;
}

.middle .Kyle {
  margin-left: 75px;
  margin-top: -40px;
  font-size: small;
}

.middle .founder {
  margin-left: 75px;
  font-weight: normal;
  margin-top: -20px;
  font-size: x-small;
}

.middle #teamwork {
  border: 1px solid purple;
  float: right;
  margin-top: -490px;
  margin-right: 25px;
}

.bottom1 {
  width: 100%;
  border: 1px solid yellow;
  height: 275px;
  background-color: #585989;
  color: white;
}

.bottom1 .access {
  margin-left: 75px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 100px;
  border: 1px solid blue;
  width: 300px;
}

.bottom1 .callTo {
  margin-left: 75px;
  width: 555px;
  border: 1px solid blue;
}

.bottom1 .buttonBox {
  border: 1px solid red;
  height: 100px;
  width: 500px;
  float: right;
  margin-right: 75px;
  margin-top: -130px;
}

.bottom1 .buttonBox input {
  width: 475px;
  height: 40px;
  border-radius: 3px;
  border: .5px solid black;
  padding-left: 15px;
  margin-bottom: 10px;
}

.bottom1 .buttonBox .button {
  width: 175px;
  font-size: small;
  margin-top: 5px;
  height: 40px;
  background-color: #3065f8;
  color: white;
  padding-top: 13px;
  padding-bottom: 20px;
  border-radius: 4px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  border: none;
  -webkit-box-shadow: 0 0 2px gray;
          box-shadow: 0 0 2px gray;
}

.bottom2 {
  width: 100%;
  border: 1px solid purple;
  height: 350px;
  background-color: #070439;
  color: white;
}

.bottom2 #logo {
  margin-left: 75px;
  margin-top: 80px;
  fill: white;
}

.bottom2 .contact {
  border: 1px solid;
  width: 250px;
  height: 75px;
  margin-left: 75px;
  margin-top: 20px;
}

.bottom2 .contact a {
  color: white;
  text-decoration: none;
}

.bottom2 .contact img {
  margin-right: 14px;
  margin-top: 14px;
}

.bottom2 .info {
  border: 1px solid;
  margin-top: -67px;
  width: 80px;
  height: 150px;
  margin-left: 500px;
}

.bottom2 .info a {
  color: white;
  text-decoration: none;
  line-height: 2;
}

.bottom2 .legal {
  border: 1px solid;
  margin-left: 800px;
  width: 100px;
  margin-top: -152px;
}

.bottom2 .legal a {
  color: white;
  text-decoration: none;
  line-height: 2;
}

.bottom2 #social {
  float: right;
  margin-right: 175px;
  margin-top: -100px;
}

.bottom2 #social i {
  text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100%;
  margin-right: 17px;
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */