body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 1440px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}






.header {
    height: 75px;
    border-bottom: 1px solid red;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    #logo {
        width: 100px;
    }

    .links {
    float: right;
   
    }
    .links a {
    text-decoration: none;

    }


}



