

body {
    padding: 0 ;
    margin: 0 auto;
    box-sizing: border-box;
    width: 1440px;
    min-width: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}




.header {
    height: 100px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    #logo {
       width: 150px;
       padding: 50px;
       margin-left: 50px;
    }
    .links {
    float: right;
    margin-top: 80px;
    margin-right: 25px;
    }
    .links a {
    text-decoration: none;
    padding: 0 25px;
    color: black;
    }
}



.top {
    width: 100%;
    height: 500px;
    h1 {
        width: 525px;
        margin-left: 75px;
        margin-top: 100px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;  
    }
    p {
        width: 525px;
        margin: 30px 75px;
    }
    img{
        float: right;
        margin-top: -250px;
        margin-right: 75px;
    }
    .buttonBox {
        display: inline-block;
        margin-left: 75px; 
    }
    input {
        width: 300px;
        height: 25px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid hsl(0, 0%, 75%);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .button {
        width: 175px;
        margin-left: 5px;
        height: 25px;
        background-color: hsl(224, 93%, 58%);
        color: white;
        padding-top: 13px;
        padding-bottom: 20px;
        border-radius: 4px;
        line-height: .8;
        font-family: 'Raleway', sans-serif;
        border: none;
        box-shadow: 0 0 15px rgba(192,192,192, 0.9);
    }
}


.curve {
    padding-top: 50px;
    margin-bottom: -28px;
}





.middle {
    width: 100%;
    height: 675px;
    background-color: hsl(240, 75%, 98%);
    margin-top: -6px;
    .heading {
       width: 650px;
       margin-left: 75px;
       margin-bottom: 40px;
       font-family: 'Raleway', sans-serif;
       font-weight: 700;
    }
    .callTo {
        margin-left: 75px;
        width: 555px;
    }
    a {
        color: hsl(170, 45%, 43%);
        margin-right: 7px;
        text-decoration: none;
    }
    .linkBox {
        margin-left: 75px;
        border-bottom: .5px solid hsl(170, 45%, 43%);
        width: 171.5px;
        color: hsl(170, 45%, 43%);
        line-height: 1.9;
    }
    #testBox {
        box-shadow: 0 0 15px rgba(192,192,192, 0.3);
        border-radius: 10px;
        margin-left: 75px;
        width: 400px;
        margin-top: 50px;
        background-color: white;
        padding-bottom: 20px;;
    }
    #quoteMarks {
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .imgK {
        height: 40px;
        border-radius: 50%;
        margin-left: 25px;
        margin-top: 15px;
    }
    .quote {
        font-weight: normal;
        width: 350px;
        margin: 0 auto;
        line-height: .7cm;
    }
    .Kyle {
        margin-left: 75px;
        margin-top: -40px;
        font-size: small;
    }
    .founder {
        margin-left: 75px;
        font-weight: normal;
        margin-top: -20px;
        font-size: x-small;
    }
    #teamwork {
        float: right;
        margin-top: -490px;
        margin-right: 25px
    }
}





.bottom1 {
    width: 100%;
    margin-top: -100px;
    height: 275px;
    background-color: hsl(238, 22%, 44%);
    color: white;
    .access {
        padding-top: 70px;
        margin-left: 75px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin-top: 100px;
        width: 300px;
    }
    .callTo {
        margin-left: 75px;
        width: 555px;
    }
    .buttonBox {
        height: 100px;
        width: 500px;
        float: right;
        margin-right: 75px;
        margin-top: -130px;
        input {
            width: 475px;
            height: 40px;
            border-radius: 3px;
            border: .5px solid black;
            padding-left: 15px;
            margin-bottom: 10px;
        }
        .button {
            width: 175px;
            font-size: small;
            margin-top: 5px;
            height: 40px;
            background-color: hsl(224, 93%, 58%);
            color: white;
            padding-top: 13px;
            padding-bottom: 20px;
            border-radius: 4px;
            line-height: 1.5;
            font-family: 'Raleway', sans-serif; 
            border: none; 
            box-shadow: 0 0 2px gray;
        }
    }
}







.bottom2 {
    width: 100%;
    height: 350px;
    background-color: hsl(243, 87%, 12%);
    color: white;
    
    #logo2 {
        margin-left: 75px;
        margin-top: 80px;
        fill: white;
    }
    .contact {
        width: 250px;
        height: 75px;
        margin-left: 75px;
        margin-top: 20px;
        a {
            color: white;
            text-decoration: none;
        }
        img {
            margin-right: 14px;
            margin-top: 14px;
        }
    }
    .info {
        margin-top: -67px;
        width: 80px;
        height: 150px;
        margin-left: 500px;
    }
    .info a {
        color: white;
        text-decoration: none;
        line-height: 2;
    }
    .legal {
        margin-left: 800px;
        width: 100px;
        margin-top: -152px;
    }

    .legal a {
        color: white;
        text-decoration: none;
        line-height: 2;
    }
    #social {
        float: right;
        margin-right: 175px;
        margin-top: -100px;
    }
    #social i {
        text-align: center;
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 100%;
        margin-right: 17px;
         line-height: 2;
    }

}

 footer {
    float: right;
}

footer p {
    opacity: .5;
    color: white;
    text-decoration: none;
    margin-top: -25px;   
    height: 0px;
    width: 300px;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    

    body {
        max-width: 375px;
        min-width: fit-content;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        align-content: center;
        
     }


    .header {
    height: 60px;
    width: 375px;
    
   
    
    #logo {
       width: 80px;
       padding: 25px;
       margin-left: 5px;
    }
    .links {
    float: right;
    margin-top: 30px;
    
    }
    .links a {
    padding: 0 15px;
    font-size: x-small;
    }
}



.top {
    width: 375px;
    height: 525px;
    margin-bottom: -75px;
    h1 {
        width: 325px;
        margin-left: 25px;
        text-align: center;
        margin-top:  350px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700; 
        font-size: x-large; 
        line-height: 1.5;
        
    }
    p {
        width: 325px;
        margin: 30px 25px;
        text-align: center;
        font-size: medium;
        font-weight: 400;
        
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: auto;
        margin-top: 150px;
        margin-left: 25px;
    }
    .buttonBox {
        display: inline-block;
        margin-left: 25px;
        width: 330px;
        height: 100px; 
    }
    input {
        width: 310px;
        height: 25px;
        padding-left: 10px;
        border-radius: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .button {
        width: 320px;
        margin-left: 2px;
        margin-top: 15px;
        height: 25px;
        color: white;
        padding-top: 13px;
        padding-bottom: 20px;
        border-radius: 4px;
        line-height: .8;
        font-family: 'Raleway', sans-serif;
        border: none;
        box-shadow: 0 0 15px rgba(192,192,192, 0.9);
    }
}


.curve {
    width: 375px;
   padding: 0;
   margin-bottom: 5px;
    

}




.middle {
    width: 375px;
    padding-top: 400px;
    position: relative;
    height: 550px;
    background-color: hsl(240, 75%, 98%);
    margin-top: -10px;
    .heading {
       width: 325px;
       margin-left: 25px;
       margin-bottom: 40px;
       font-family: 'Raleway', sans-serif;
       font-weight: 700;
       font-size: large;
       text-align: center;
       margin-top: -20px;
    }
    .callTo {
        margin-left: 25px;
        width: 310px;
        font-size: small;
    }
    a {
        color: hsl(170, 45%, 43%);
        margin-right: 7px;
        text-decoration: none;
        
    }
    .linkBox {
        margin-left: 105px;
        border-bottom: .5px solid hsl(170, 45%, 43%);
        width: 137px;
        color: hsl(170, 45%, 43%);
        line-height: 1.9;
        font-size: small;
        margin-bottom: -50px;
        margin-top: 50px;
    }
    #testBox {
        box-shadow: 0 0 15px rgba(192,192,192, 0.3);
        border-radius: 10px;
        margin-left: 45px;
        width: 275px;
        margin-top: 100px;
        
        background-color: white;
        padding-bottom: 20px;
        height: 160px;
    }
    #quoteMarks {
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .imgK {
        height: 25px;
        border-radius: 50%;
        margin-left: 25px;
        margin-top: 15px;
    }
    .quote {
        font-weight: normal;
        font-size: x-small;
        width: 225px;
        margin: 0 auto;
        line-height: .5cm;
        margin-left: 25px;

    }
    .Kyle {
        margin-left: 55px;
        margin-top: -30px;
        font-size: x-small;
        font-weight: 700;
    }
    .founder {
        margin-left: 55px;
        font-weight: normal;
        margin-top: -15px;
        font-size: xx-small;
    }
    #teamwork {
        position: absolute;
        width: 325px;
        height: auto;
        margin-left: 20px;
        margin-top: -800px;
    }
}


.bottom1 {
    width: 375px;
    height: 325px;
    background-color: hsl(238, 22%, 44%);
    color: white;
    .access {
        margin-left: 25px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin-top: 50px;
        width: 300px;
        text-align: center;
        font-size: medium;
    }
    .callTo {
        margin-left: 55px;
        width: 260px;
        font-weight: 400;
        font-size: small;
        text-align: center;
        margin-top: 20px;

    }
    .buttonBox {
        height: 100px;
        width: 290px;
       float: left;
        margin-top: 10px;
        margin-left: 75px;
        input {
            width: 210px;
            height: 30px;
            border-radius: 3px;
            border: .5px solid black;
            padding-left: 15px;
            margin-bottom: 10px;
        }
        .button {
            width: 225px;
            font-size: small;
            margin-top: 5px;
            height: 30px;
            background-color: hsl(224, 93%, 58%);
            color: white;
            padding-top: 13px;
            padding-bottom: 20px;
            border-radius: 4px;
            line-height: .8;
            font-family: 'Raleway', sans-serif; 
            border: none; 
            box-shadow: 0 0 2px gray;
        }
    }
}


.bottom2 {
    width: 375px;
    height: 800px;
    background-color: hsl(243, 87%, 12%);
    color: white;
    
    #logo2 {
        margin-left: 35px;
        margin-top: 60px;
        fill: white;
    }
    .contact {
        width: 250px;
        height: 75px;
        margin-left: 35px;
        margin-top: 20px;
        a {
            color: white;
            text-decoration: none;
        }
        img {
            margin-right: 14px;
            margin-top: 14px;
        }
    }
    .info {
        margin-top: 67px;
        width: 80px;
        height: 150px;
        margin-left: 35px;
    }
    .info a {
        color: white;
        text-decoration: none;
        line-height: 2;
    }
    .legal {
        margin-left: 35px;
        width: 100px;
        margin-top: 32px;
    }

    .legal a {
        color: white;
        text-decoration: none;
        line-height: 2;
    }
    #social {
       width: 200px;
       margin-right: 50px;
       margin-top: 75px;
    }
    #social i {
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-right: 17px;
        
    }

 }


 footer {
     opacity: .2;
    color: white;
     margin-top: -40px;
     float: left;
     margin-left: 25px;
     text-decoration: none;
 }

}